@using Nop.Web.Themes.PAA.Infrastructure
@{
    ViewBag.Title = "About";
    ViewBag.Id = "About";
    ViewBag.PageTitle = "About";
}





<section>
    @*<h1>About</h1>*@

    <article>
        <h4>Mission Statement</h4>
        <p>
            The Plano Art Association is dedicated to encouraging the visual arts
            development of the membership, and inspiring awareness of the visual arts
            by sharing the joy, passion and beauty within and beyond our Plano community.
        </p>

    </article>

    <article>
        <h4>General Membership Meetings</h4>
        <p>
            The monthly general membership meetings are usually held on the fourth
            Tuesday of the month all year, beginning promptly at 7:00 P.M.
            As well as a chance to network with and meet other artists and art lovers,
            we have demonstration artists, exhibits, competitions, and choose an
            artist of the month, as well as delicious light refreshments.
        </p>
    </article>
    <article>
        <h4>Board of Directors Meetings</h4>
        <p>
            Board Meetings are often held the Tuesday before the General
            Membership Meetings, and sometimes other times as necessary.
            The general membership of PAA is invited and encouraged to
            attend board meetings.
        </p>

    </article>
</section>
