@using Nop.Web.Themes.PAA.Infrastructure
@{
    ViewBag.Title = "Benefits";
    ViewBag.Id = "Benefits";
    ViewBag.PageTitle = "Benefits";
}



<article>
    <br> <br>
    <p>
        The number one goal as stated in the PAA mission statement
        is to encourage the visual arts development of the membership.
        Therefore members are the recipients throughout the year of
        programs, events, exhibits and activities that fulfill that
        goal.
    </p>
    <br />
    <p>
        Specific opportunities to gain exposure of member artistsʼ
        artwork include participation in member exhibits, art-sharing
        programs, juried exhibits, community and regional art shows and
        sponsored studio tours. The new PAA website will provide
        opportunities for broad exposure of your artwork as well as links
        to special individual webpages and/or your existing website.
    </p>
    <br />
    <p>
        Artistic development opportunities include demonstrations by
        noted professional artists, workshops, plein aire events and
        invitations to community art fairs.
    </p>
    <br />
    <p>
        Cost-saving benefits include member discounts on exhibit entry 
        fees and a standing 20% discount on art materials at Asel Art Supply.
    </p>

</article>


<a href="/join" style="text-align: center;">
    <span id="register-button" name="register-button" class="common-buttons button-2">
        Join Now
    </span>
</a>