@{
    ViewBag.Title = "Board";
    ViewBag.Id = "Board";
    ViewBag.PageTitle = "Board";
}


<section>

    <div>
        <div>&nbsp; </div>
        <h3>EXECUTIVE OFFICERS</h3>
        <section class="photos">

            <figure class="photo">
                <img src="~/Themes/PAA/Content/siteimages/Board/Linda_Framed.png" alt="Linda McCarley" />
                <figcaption>
                    Linda McCarley
                    <div>President</div>
                </figcaption>
            </figure>

            <figure class="photo">
                 <img src="~/Themes/PAA/Content/siteimages/Board/Karla_Framed_2.png" alt="Karla Keese" />
                <figcaption>
                    Karla Keese
                    <div>President-Elect</div>
                </figcaption>
            </figure>




            <figure class="photo">
                <img src="~/Themes/PAA/Content/siteimages/Board/Grace_Framed.png" alt="Grace Tang" />
                <figcaption>
                    Grace Tang
                    <div>Treasurer</div>
                </figcaption>
            </figure>



            <figure class="photo">
                <img src="~/Themes/PAA/Content/siteimages/Board/John_Framed.png" alt="John Van Ness" />
                <figcaption>
                    John Van Ness
                    <div>Secretary</div>
                </figcaption>
            </figure>
        </section>
    </div>
</section>


<div style="clear: both">
    <hr class="fadeToRight " />
</div>



<div class="lists-wrapper ">


    <section>
        <div class="section-wrapper ">

            <h3>BOARD OF DIRECTORS</h3>
            <ul>


                <li>Linda McCarley       </li>
                <li>Ken Wheatley         </li>

                <li>Karla Keese          </li>
                <li>Gene Dillard         </li>

                <li>Grace Tang          </li>
                <li>Louise Dillard       </li>

                <li>John Van Ness          </li>
                <li>Ruth Sidiqqi         </li>


                <li>Howard Greisdorf     </li>
                <li>Jennifer Seibert     </li>

                <li>Nolan Mueller        </li>
                <li>Diana Beck           </li>

                <li>Jennifer Parker</li>
                <li>Jan Leek </li>

            </ul>
        </div>
    </section>


    <div class="phoneHidden">

        <div class="fadeDownwards" style="margin-top:2rem; width: 1px; height:150px!important;"></div>

    </div>

    <div class="phoneOnly">
        <hr class="fadeToRight" />
    </div>

    <section>
        <div class="section-wrapper">

            <h3>ADVISORY COUNCIL</h3>
            <ul>
                
                <li>Gaby Pruitt</li>
                <li>Frank Turner</li>
               

                <li>Beth Morgan</li>
                <li>Heather Wang</li>

                <li>Don Dillard</li>
                <li>Jody Reed   </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>

            </ul>
        </div>
    </section>

</div>


