@{
    ViewBag.Title = "Bylaws";

    ViewBag.Id = "Bylaws";
    ViewBag.PageTitle = "Bylaws";

}


<section >
 
        @*<h1>About</h1>*@
    
    @*<h3>CONSTITUTION AND BYLAWS</h3>*@

    <article>

        <h4>Article I - THE ORGANIZATION</h4>
        @*<p class="title">THE ORGANIZATION</p>*@
        <p><span class="section">Section 1.</span>The name of this organization shall be 
            Plano Art Association.</p>
        <p>
            <span class="section">Section 2.</span>The Plano Art Association is dedicated to encouraging the visual arts development of the
            membership, and inspiring awareness of the visual arts by sharing the joy, passion and beauty within and beyond our Plano
            community.
        </p>

        <p>
            <span class="section">Section 3.</span>No part of the net earnings of the Plano Art Association shall inure to the benefit of,
            or be distributable to its members, trustees, officers, or other private persons, except that the association shall be
            authorized and empowered to pay reasonable compensation for services rendered and to make payments and distribution in
            furtherance of the purpose set forth in Article 1 Section 2, hereof.
        </p>

        <p>
            <span class="section">Section 4.</span>No substantial part of the articles of the association shall be the carrying on of propaganda,
            or otherwise attempting to influence legislation; and the association shall not participate in, or intervene in
            (including the publishing or distribution of statements) any political campaign on behalf of any candidate for public office.
            Notwithstanding any other provision of these articles, the association shall not carry on any other activity not permitted
            to be carried on: a) by an association exempt from Federal Income Tax under Section 501(c)(3) of the Internal Revenues Code of 1954, b)
            by an association for the corresponding provisions of any future United States Internal Revenue Law, or, c) by contributions to which are
            deductible under Section 170 (c) (2) of the Internal Revenue Code of 1954 (or the corresponding provision of the future United States Internal Revenue Law.)
        </p>

    </article>
    <article>
        <h4>Article II - MEMBERSHIP</h4>
        @*<p class="title">MEMBERSHIP</p>*@
        <p>
            <span class="section">Section 1.</span>The membership in this association shall be open to any person who is interested in the objectives of the association,
            regardless of race, creed, sexual orientation, gender identify, or national origin. The PAA shall strive to recruit a diverse and inclusive membership which
            is reflective of the community it serves.
        <p>
            <span class="section">Section 2.</span>The classes of membership in the association are as follows:
        </p>

        <ol type="A">
            <li>Student:        Members in the 12-18 age groups. Student members have no voting privileges.</li>
            <li>Senior:         Members, age 55 and above, shall have full voting privileges and are eligible to serve in any official PAA capacity.</li>
            <li>Adult:          Members shall have full voting privileges and are eligible to serve in any official PAA capacity.</li>
            <li>Family:         2 Adult members shall have full voting privileges and are eligible to serve in any official PAA capacity.</li>
            <li>Senior Family:  2 Senior members shall have full voting privileges and are eligible to serve in any official PAA capacity.  </li>

        </ol>


        <p>
            <span class="section">Section 3.</span>Honorary Membership may be bestowed at the Senior, Adult, or Family level by reason of character, achievement, and with
            a letter of recommendation. This designation will be determined by a two-thirds vote of the members present at any meeting, provided prior notice has been sent to every
            member at least one week before it is voted upon. Honorary Members shall not have full voting rights and shall not pay dues.<br />
        </p>

        <p>
            <span class="section">Section 4.</span>Membership in this association is automatically in inactive status upon non-payment of dues by the anniversary of their previous payment.
            Members may upgrade their membership at any time during the year but their annual renewal date remains the date they first paid.<br />
        </p>
        <p>
            <span class="section">Section 5.</span>Any member may resign or withdraw from the association as a member. The Board of Directors, by affirmative vote of two-thirds
            of all board members, may suspend or expel any member.<br />
        </p>

    </article>
    <article>

        <h4>Article III - OFFICERS</h4>
        @*<p class="title">OFFICERS</p>*@
        <p>
            <span class="section">Section 1.</span>The officers of this association shall be a PRESIDENT, VICE PRESIDENT, SECRETARY and TREASURER<br />
        </p>
        <p>
            <span class="section">Section 2.</span>The officers of this Association shall constitute an Executive Committee to meet on call by the President or any
            two members of the committee, for the consideration of special matters in the interim between regular meetings of the association and the Board of Directors.
            No member of the Executive Committee may hold office on any other art-related Board.<br/>
        </p>
        <p>
            <span class="section">Section 3.</span>The elected officers shall serve on the Board of Directors, which shall meet a minimum of three times per year.
            Special meetings of the Board may be called by the President or by a majority of the Board members.
            The immediate Past President shall serve as a member of the Board, and shall act in an advisory capacity with voting privileges.<br />
        </p>
    </article>
    <article>


        <h4>Article IV - DUTIES OF OFFICERS</h4>

        @*<p class="title">DUTIES OF OFFICERS</p>*@
        <p>
            <span class="section">Section 1.</span>The duties of the officers shall be as implied by their respective titles and as specified in these by-laws.
            Each officer shall keep accurate records, and these records shall be turned over to the new officers at the beginning of their term.
        </p>
        <p>
            <span class="section">Section 2.</span>The PRESIDENT shall preside at all meetings of the Executive Committee and the Board of Directors.
            The PRESIDENT shall appoint standing committee chairpersons, subject to the ratification of the Executive Committee;
            He/She may be a member of all committees, except for the Nominating Committee.
        </p>
        <p>
            <span class="section">Section 3.</span>The VICE PRESIDENT shall act in the absence of the President. In the event the President is unable to fulfill the term
            of office, the VICE PRESIDENT shall become President for the unexpired term.
        </p>
        <p>
            <span class="section">Section 4.</span>The SECRETARY shall maintain an accurate record of the proceedings of all meetings of the association, Executive Committee, and Board of Directors.
            The SECRETARY shall preserve, in a permanent file, all records and letters of value to the association, to be transferred to the successor at the close of the term of office.
            The SECRETARY will provide a typewritten copy of all minutes to the President prior to the next meeting. These minutes will be retained for that President’s successor.
            The SECRETARY will also accept nominations for new Board and Standing Committees.
        </p>
        <p>
            <span class="section">Section 5.</span>The TREASURER shall be custodian of all funds of the association, such funds to be deposited in a bank designated by the Board of Directors.
            The TREASURER shall keep an itemized account of all receipts and disbursements and present a full report at all Board meetings.
            All checks shall be signed by the TREASURER or the President. The TREASURER shall turn over to the successor within two weeks of vacating office all books, records and papers.
            The TREASURER shall serve as Chair of the Finance Committee, and all chairpersons are automatically a part of this committee. The outgoing TREASURER shall arrange for the transfer
            of permissions for the bank accounts.
        </p>
    </article>
    <article>

        <h4>Article V - EXECUTIVE COMMITTEE</h4>
        @*<p class="title">EXECUTIVE COMMITTEE</p>*@
        <p>
            <span class="section"> Section 1.</span>The EXECUTIVE committee shall have the power to act for the Board of Directors in the
            interim between meetings of the Board, and shall report thereon at the next meeting of the Board.<br />
            <span class="section"> Section 2.</span>The EXECUTIVE Committee shall ratify all appointments.<br />
        </p>
    </article>
    <article>

        <h4>Article VI - DUTIES OF THE BOARD OF DIRECTORS</h4>
        @*<p class="title">DUTIES OF THE BOARD OF DIRECTORS</p>*@
        <p>
            <span class="section">Section 1.</span>The BOARD OF DIRECTORS shall transact any business of the association between meetings and shall report thereon at the next
            regular meeting of the association.
        </p>
        <p>
            <span class="section">Section 2.</span>The BOARD OF DIRECTORS shall make recommendations to the association
            members regarding proposed amendments to the bylaws and shall post such revisions for review and or objections
            by the membership.
        </p>

        <p>


            <span class="section">Section 3.</span>The BOARD OF DIRECTORS shall supervise the affairs of the association and shall devise measures for its growth and success.<br>
        </p>
        <p>


            <span class="section">Section 4.</span>The BOARD OF DIRECTORS shall conduct all business in a way that shows integrity, respect and mutual regard for human rights
            and for the community we serve.<br />
        </p>
    </article>
    <article>

        <h4>Article VII - COMMITTEES</h4>
        @*<p class="title">COMMITTEES</p>*@
        <p><span class="section">Section 1.</span>These following committees are recommended, but not limited to: </p>

        <ol type="A">
            <li>
                GALLERY COMMITTEE - It shall be the duty of the GALLERY COMMITTEE to:
                <ol>
                    <li>Conduct gallery operations.</li>
                    <li>Coordinate gallery volunteers.</li>
                    <li>Collaborate with Member Services to plan and coordinate exhibits and events which take place at the gallery.</li>
                </ol>
            </li>
            <li>
                MEMBER SERVICES COMMITTEE - It shall be the duty of the MEMBER SERVICES COMMITTEE to plan and coordinate the following:
                <ol>
                    <li>Collaborate with Gallery Coordinator to plan and coordinate exhibits.</li>
                    <li>Plan strategies for membership growth</li>
                    <li>Manage membership renewal</li>
                    <li>Manage calendar for members’ meetings</li>
                    <li>Arrange for greeters at members’ meetings</li>
                    <li>Facilitate member and non-member exhibits</li>
                    <li>Facilitate Artist of the Month</li>
                    <li>Facilitate Annual Member Art Shows</li>
                    <li>Facilitate Programs and Demonstrations</li>
                    <li>Facilitate and plan Social Events</li>
                    <li>Facilitate and plan special member’s events</li>
                </ol>
            </li>
            <li>
                MARKETING COMMITTEE - It shall be the duty of MARKETING COMMITTEE to plan and coordinate the following:
                <ol>
                    <li>Publicity</li>
                    <li>Newsletter</li>
                    <li>Website</li>
                    <li>Social Media</li>
                    <li>News Releases</li>
                </ol>
            </li>
            <li>
                FINANCE COMMITTEE - It shall be the duty of FINANCE COMMITTEE to plan and coordinate the following:
                <ol>
                    <li>Annual audit of books</li>
                    <li>Annual budget</li>
                </ol>
            </li>
            <li>
                DEVELOPMENT COMMITTEE - It shall be the duty of the DEVELOPMENT COMMITTEE to facilitate the following:
                <ol>
                    <li>Fund raising events and projects</li>
                    <li>Grants</li>
                </ol>
            </li>
        </ol>

        <p>
            <span class="section">Section 2.</span>SPECIAL COMMITTEES may be appointed or created as needed. The chairperson
            of a Special Committee shall have such duties as may be assigned by the President.
        </p>
        <h4>Article VIII - NOMINATIONS AND ELECTIONS</h4>
        @*<p> <strong>NOMINATIONS AND ELECTIONS</strong> </p>*@
       
        <p>
            <span class="section">Section 1.</span>Officers shall be elected at the association’s Annual meeting in May.
            They shall assume their duties at the beginning of the fiscal year on June 1st.
        </p>
        <p>
            <span class="section">Section 2.</span>At the March regular meeting, the association shall elect a Nominating
            committee of at least five members. At the April regular meeting, the Nominating committee shall
            present to the association members, a slate of nominations taken from the membership, one or more
            for each executive office. Nominations may also be made from the floor at the April regular meeting.
            The Nominating Committee shall seek to create a slate which is diverse and reflective of the population
            it serves. Elections may either be made by ballot online prior to the Annual meeting in May, or by ballot
            at the Annual meeting in May.
        </p>
        <p>
            <span class="section">Section 3.</span>Vacancies in office shall be filled for the unexpired term by the President
            with the approval of the Executive Committee.
        </p>
        <p>
            <span class="section">Section 4.</span>No member shall hold the same office for more than two consecutive years.
            An interval of two years shall elapse before a member is again eligible for re-election to the same office.
        </p>
        <p>
            <span class="section">Section 5.</span>Six months or more shall be considered a term of office in determining eligibility for re-election.<br />
        </p>
    </article>
    <article>

        <h4>Article IX- MEETINGS</h4>
        @*<p class="title">Meetings</p>*@

        <p>
            <span class="section">Section 1.</span>Regular member meetings shall be held at such times and places as scheduled and planned by
            the MEMBER SERVICES COMMITTEE, with approval from the Board of Directors. There shall be no fewer than seven regular meetings,
            of which there shall be a minimum of six program meetings. Prior notice of each meeting shall be given to the membership
        </p>
        <p>
            <span class="section">Section 2.</span>The Nominating Committee will be elected at the regular meeting in March. The proposed slate of
            executive officers will be presented to the members by the Nominating Committee at the regular meeting in April. Nominations
            may also be made from the floor at the regular meeting in April. The Annual meeting shall be held in May of each year, during
            which time, reports will be made to summarize the year’s activities, members will have an opportunity to cast ballots, and the
            newly elected officers will be installed.
        </p>
        <p>
            <span class="section">Section 3.</span>A special meeting of the membership may be held at any time on call of the President,
            or by a majority of the members of the Board of Directors, or by petition of one-fourth of the active members,
            after giving three days notice to the membership of time, place and purpose of such a meeting. The business transacted
            shall be limited to the purposes of the call. If other urgent matters need to be acted upon, they must be ratified at
            the next meeting.
        </p>
        <p>
            <span class="section">Section 4.</span>PAA may host exhibits of member artwork or invited artists’ work. Exhibits may be hosted at PAA’s gallery,
            or in appropriate spaces approved by the Board of Directors. Exhibits are to be open to the public.
        </p>
    </article>
    <article>

        <h4>Article X - QUORUM</h4>
        @*<p class="title">
            <strong>QUORUM</strong>
        </p>*@
        <p>
            <span class="section">Section 1.</span>Those members present at the meetings, after notice of such meeting has been given as herein provided, shall constitute a quorum.
            A majority of members of the Executive Committee shall constitute a quorum of that body.
            A majority of the members of the Board of Directors shall constitute a quorum of that body
        </p>
        <h4>Article XI - DUES</h4>
        @*<p class="title"><strong>DUES</strong></p>*@
        <p>
            <span class="section">Section 1.</span>Membership dues shall be determined by the Board of Directors and must be approved by the membership.
        </p>
        <p>
            <span class="section">Section 2.</span>Dues shall be payable on the anniversary of the month the member joined PAA.
        </p>
        <h4>ARTICLE XII - DISSOLUTION OF ASSETS </h4>
        @*<p class="title"><strong>DISSOLUTION OF ASSETS</strong>  </p>*@


        <p>
            <span class="section">Section 1.</span>Should dissolution of the Plano Art Association occur, the Board shall, after paying or making
            provisions for the payment of all liabilities of the association, dispose of all the assets of the association exclusively
            for the purposes of the association, in such manner, to an organization which operates exclusively for charitable purposes
            as shall, at the time, qualify as an exempt organization under Section 501(c)(3) of the Internal Revenue Code of 1954
            for the corresponding provision of the future United States Internal Revenue Law, as the Board shall determine.
        </p>
    </article>
    <article>

        <h4>Article XIII - AMENDMENTS</h4>
        @*<p class="title">AMENDMENTS</p>*@
        <p>
            <span class="section">Section 1.</span>These by-laws may be amended by a two-thirds vote of the members present at any meeting, provided a copy of the proposed
            amendment shall have been sent to every member at least two weeks before it is voted upon.
        </p>
    </article>

    <article>

        <h4>Article XIV - PARLIAMENTARY AUTHORITY</h4>
        @*<p class="title"> PARLIAMENTARY AUTHORITY</p>*@
        <p>
            <span class="section">Section 1.</span>All meetings of the membership, Board of Directors, Executive Committee and Standing Committees shall be governed
            by these by-laws and Roberts Rules of Order, Revised.
        </p>
    </article>

    <article>
        <h4>Article XV - POLICY</h4>
        @*<p class="title">POLICY</p>*@
        <p>
            <span class="section">Section 1.</span>This association shall be non-sectarian, non-partisan and nonprofit.
        </p>
    </article>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</section> 
<!-- end of section  -->
<div class="clearFix">&nbsp;</div>