@using Nop.Web.Themes.PAA.Infrastructure
@{
    ViewBag.Title = "Donate";
    ViewBag.Id = "Donate";
    ViewBag.PageTitle = "Donate";
}



 

<section class="donate-section">

    <br /> 

    <p>
        As a volunteer, non-profit organization, PAA magnifies the contributions
        it receives in grants, membership fees and donations. Its mission
        statement leads with its commitment to encourage the visual arts development
        of its membership.
    </p>
    <br />
    <p>
        The leadership and its members initiate highly motivating programs
        and events to help members improve their skills and gain recognition
        for their work. So, by any definition, it is Plano artists helping Plano
        artists achieve their artistic objectives.
    </p>
    <br />
    <p>
        We need your donations to help Plano artists help Plano artists.
        Your contributions will aid in funding the valuable programs that will
        make that possible.
    </p>
    <br />
    <p>
        We also welcome in-kind donations including professional services,
        marketing services and materials as well as art supplies for educational
        programs and events.

    </p>
     
    <br /> 
    
    <table>
        <tr>
            <td>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="RMB6QZSB3VBM2">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>


            </td>
        </tr>
        <tr>
            <td  style="color: red;" ><br>
                Important -  Please check the box - "Share my mailing address with Plano Art Association"
                on the last "PayPal" SCREEN so we can properly credit your Donation!
            </td>
        </tr>
        
        <tr> <td>  <br />  </td> </tr>
    </table>
    


     
     

</section>
