@{
    ViewBag.Title = "Partners";
    ViewBag.Id = "Partners";
    ViewBag.PageTitle = "Partners";
}



<div class="content-wrapper">
  

    <section  >
        <div class="section-wrapper ">
            <article>

                <ul>
                    <li>
                        <h1>Sponsorships<br /> </h1>
                    </li>

                    <li>

                        <figure class="cityLogo  phoneOnly ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/planoLogo.png" alt="Plano Logo" />
                            <figcaption></figcaption>
                        </figure>
                        <p>
                            <br />
                            PAA is sponsored in part with a grant by the City of Plano.
                            For more information on wonderful things to do in the City go
                            to <a href="http://www.visitplano.com/" target="_blank">visitplano.com</a>


                            <br class="phoneHidden"><br class="phoneHidden">
                        </p>

                        <figure class="cityLogo    phoneHidden ">

                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/planoLogo.png" alt="Plano Logo" />
                            <figcaption></figcaption>
                        </figure>

                    </li>
                    <li>

                        <figure class="separator">
                            <img src="~/Themes/PAA/Content/siteimages/splitter2.png" />
                            <figcaption></figcaption>
                        </figure>


                    </li>
                    <li>
                        <figure class="dallasart-Logo      ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/Dallasart_Artist_Logo.png" alt="DallasArt Logo" />
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>

                        <figure class="separator">
                            <img src="~/Themes/PAA/Content/siteimages/splitter2.png" />
                            <figcaption></figcaption>
                        </figure>


                    </li>
                    <li>
                        <figure class="dallasart-Logo      ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/ONDEMAND-PRESS.png" alt="On Demand Logo" />
                            <figcaption></figcaption>
                        </figure>
                    </li>



                </ul>

            </article>
        </div>
    </section>

    <section>
        <div class="section-wrapper page-separator">

            <hr class="fadeToRight phoneOnly "/>
            <div class="fadeDownwards   "></div>
        </div>
    </section>


    <section>
        <div class="section-wrapper partnership-section ">


            <article>
                <ul>
                    <li>
                        <h1>Partnerships</h1><br/></li>
                    <li>
                        <figure class="libraryLogo  phoneOnly ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/LIBRARY_LOGO.png" alt="Library Logo"/>
                        </figure>
                        <p>
                            Plano Art Association and Cathy Ziegler, Director of the
                            Plano Public Library System are pleased to announce how their
                            two organizations collaborate to make art a more active part
                            of the life and culture of our Plano community.
                            Click below to find out all the details about the exciting
                            opportunities. For more information visit - <br/>
                            <a href="/Themes/PAA/Content/pdf/PAA_Libary_Opporunity.pdf" target="_blank">
                                PAA and Plano Public Library Opportunities
                            </a>

                        </p>
                        
                        <figure class="libraryLogo  phoneHidden ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/LIBRARY_LOGO.png" alt="Library Logo"/>
                        </figure>
                        

                    </li>
                    <li>

                        <figure class="separator">
                            <img src="~/Themes/PAA/Content/siteimages/splitter2.png"/>
                            <figcaption></figcaption>
                        </figure>


                    </li>

                    <li>
                        <figure class="coalition-logo    ">
                            <img src="~/Themes/PAA/Content/siteimages/Sponsors/Plano-Arts-Coalition.png" alt="Plano-Arts-Coalition"/>
                        </figure>
                        <p>
                            Plano Art Association is a founding member of Plano Arts Coalition. The vision of the Plano Arts Coalition
                            is to establish Plano as a diverse cultural destination through collaboration,
                            promotion and advocacy. For more information - <br/>
                            <a href="//www.planoartscoalition.org" target="_blank">Plano Arts Coalition</a>
                        </p>

                    </li>
                </ul>

            </article>



        </div>

    </section>
</div>