.bss-slides {
  position: relative;
  display: block;
  line-height: 0; }
  .bss-slides figure {
    position: absolute;
    top: 0;
    width: 100%; }
    .bss-slides figure:first-child {
      position: relative; }
    .bss-slides figure img {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transition: opacity 1.2s;
      -moz-transition: opacity 1.2s;
      -o-transition: opacity 1.2s;
      transition: opacity 1.2s;
      backface-visibility: hidden;
      width: 100% !important; }
    .bss-slides figure figcaption {
      position: absolute;
      font-size: 1.2em;
      top: -2.4em;
      left: 0;
      width: 100%;
      text-align: center;
      padding: .25em;
      color: cornflowerblue;
      background: none;
      border-radius: 2px;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.7s;
      -moz-transition: opacity 0.7s;
      -o-transition: opacity 0.7s;
      transition: opacity 0.7s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      line-height: 1.5; }
  .bss-slides .bss-show {
    z-index: 2; }
    .bss-slides .bss-show img {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      backface-visibility: hidden;
      position: relative; }
    .bss-slides .bss-show figcaption {
      z-index: 3;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100); }
      .bss-slides .bss-show figcaption span {
        font-size: 1rem;
        margin-top: -8px;
        display: block; }
      .bss-slides .bss-show figcaption a {
        color: #fff; }

.bss-next,
.bss-prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  user-select: none; }
  .bss-next:hover,
  .bss-prev:hover {
    cursor: pointer;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); }

.bss-next {
  right: -36px;
  padding: 10px 5px 15px 10px;
  border-radius: 3px; }

.bss-prev {
  left: -35px;
  padding: 10px 10px 15px 5px;
  border-radius: 3px; }
