@model Nop.Web.DallasArt.ViewModels.SelfIdentificationViewModel


<div id="membership-replace-this-element">

    @Html.Partial("_SelfIdentification", Model)

</div>

<!-- Everything in this tag gets replaced-->
<!--    This is my message -->


@Html.Hidden("membershiptype")



