

<style>
    .article-wrapper h2{
      color:saddlebrown!important; 
      margin-left:0!important;
    }

    .article-wrapper a{
        font-weight:800!important;
    }
    
    .article-wrapper a:hover{
        text-decoration:underline!important;
    }


</style>   

<article>
    <div class="article-wrapper">
        <h2>SEPTEMBER</h2>
        
        <ul>
            <li>
                <h4>North Texas Giving Day, September 19</h4>
                <p>
                    This is an opportunity to support the Plano Art Association with
                    donations. Please go to <a href="//www.northtexasgivingday.org">https://www.northtexasgivingday.org</a>
                    to create a donor page. You can also encourage your friends to
                    create <em><strong>'FUNdraising pages'</strong></em>. Giving begins on September 9.
                    WPlease encourage your friends and family to get involved and
                    support Plano’s fine art organization.
                </p>
            </li>

            <li>
                <h4>Plein Air - Plano Balloon Festival, September 20-22</h4>
                <p>
                    PAA is invited to join the Outdoor Painting Society (OPS) and the
                    Southwest Watercolor Society, September 20-22, to paint during
                    the Plano Balloon Festival. When you register at
                    <a href="//www.outdoorpainterssociety.com/event-3432158">https://www.outdoorpainterssociety.com/event-3432158</a> you will
                    learn about the details, free parking and tent where you can show
                    and sell your artwork.
                </p>
            </li>
            
            <li>
                <h4>ART SHARE Members’ Meeting, September 24</h4>
                <p>
                    The first Members’ Meeting of the year will be an ART SHARE
                    facilitated by John Van Ness. Members are invited to bring one or
                    two pieces of art to share with members. When it is your turn to
                    share your art, you will put your artwork on an easel and receive
                    feedback from the members. This meeting will take place on
                    Tuesday, September 24, 7-8:30 pm, in the Art Room, at the Sam
                    Johnson Senior Recreation Center, at 401 W 16 th St., in Plano.
                </p>

            </li>


        </ul>
  
    </div>
</article>
